<div class="container">
    <div class="card">
        <div class="card-body" >
           
            
            <div *ngIf="showPlus" class="plus bg-light" (click)="callInput()">
               <span class="align-middle">+</span>
            </div>
            <div *ngIf="showInput" class="bg-light">
                <app-city (closeInput)="hideInput()" (passCity)="getCityValue($event)"></app-city>
            </div>
            <div *ngIf="showWeatherData" class="weather-content d-flex bg-light">

                <div class="w-50 data-position">
                    <div class="edit-icon">
                        <fa-icon [icon]="faPen" (click)="callInput()"></fa-icon>
                    </div>
                    
                    <div class="d-flex pl-3 h-100 flex-column justify-content-center ">
                    <div>{{cityWeather.temperature | number}}<sup>o</sup>C</div>
                    <div>{{cityWeather.windSpeed | number}} Kmph</div>
                    </div>
                    <div class="align-self-end location-position font-weight-bold">{{cityWeather.cityName}}</div>
                </div>
                <div class="bg-image w-50 " *ngIf="cityWeather.climate!=''">
                    <img [src]="getImagePath(cityWeather.climate)" alt="">
                </div>
            </div>
        </div>
      </div>
</div>