@import '../../../../variables.scss';

.form-group{
    margin-bottom:0px;
}
.city-text{
    color: $primary-color;
}
.city-error-text{
    color:$error-text-color;
    font-size:10pt;
    display: none;
}
.show-error-text{
    display:block;
}